*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  scroll-padding-top: 2rem;
}
html {
  scroll-behavior: smooth;
}
/* custom scroll bar */
html::-webkit-scrollbar {
  width: 0.5rem;
  background-color: #020307;
}
html::-webkit-scrollbar-thumb {
  background-color: var(--main-color);
  border-radius: 5rem;
}
section {
  padding: 4.5rem 1.5rem;
}
body {
  font-family: 'Poppins', sans-serif;
  background: #020307;
  color:#fff;
}


/* Home */
.home{
  background-image: url(../img/home3.jpg);
  background-position: center;
  background-size: cover;
  height: 100vh;
  padding-top: 100px;
}

/* Movies */
.heading {
  font-weight: 500;
  font-size: 1.2rem;
  text-transform: uppercase;
  border-bottom: 1px solid #ff2c1f;
  margin-left: auto;
  margin-right: auto;
}



.news input::placeholder {
  color: var(--text-color);
  font-size: 0.8rem;
  font-weight: 400;
}
